<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>MUPAteste</title>
</head>
<body>
    <div class="termos-container">
        <section class="termos-container-interno">
            <!-- <form action="/" method="POST" class="adicionar-termo">
                <input type="text" name="termo" value="termo">
                <textarea rows="6" cols="45" name="descricao">descrição</textarea>
                <button type="submit"><span class="fas fa-plus"></span> adicione um termo</button>
            </form> -->
            <ul class="nomes-lista">
                <% items.forEach(content => {%>
                <li class="nomes-lista-item">
                    <div class="nomes-lista-item-titulo">
                        <%= content.termo %>
                    </div>
                    <div class="nomes-lista-item-descricao hidden">
                        <%= content.descricao %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </section>
    </div>
    <div>
        <a href="/add"><span>adicione um termo</span></a>

    </div>
</body>
</html>