<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>MUPAteste</title>
</head>
<body>
    <h1 class="mupalavra">MUPALAVRA</h1>
    <div id="game-board"></div>
   
    <div class="termos-container">
        <section class="termos-container-interno">
            <ul class="nomes-lista">
                <li class="nomes-lista-item">
                    <!-- I know this is not the right way, but I tried the other way and it didn't work -->
                    <!-- this actually will not be seen, it's here just for testing -->
                    <% items.forEach(content => {%>
                    <div class="nomes-lista-item-titulo">
                        <% let word = content.termo %>
                        <% let wordArray = Array.from(word) %>
                        <p><%= wordArray %></p>
                    </div>
                    <div class="nomes-lista-item-descricao">
                        <% let description = content.descricao %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </section>
    </div>


        <%- include('partials/keyboard') -%>
        <script src="script.js"></script>
</body>
</html>