* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(155, 180, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.termos-container {
    color: rgb(7, 58, 7);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: rgba(195, 220, 195, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.termos-container-interno {
    width: 400px;
}

h1 {
    padding: 20px;
    font-size: 2rem;
}

input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    display: block;
}

textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.adicionar-termo button {
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}

ul {
    list-style: none;
}

.nomes-lista-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.nomes-lista-item-descricao {
    font-size: .8rem;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 250px;
    word-break:break-all;
    display: block;
}

.nomes-lista-item form {
    width: 100%;
    display: flex;
}

.nomes-lista-item input {
    margin-right: 10px;
    border-radius: 5px;
    flex-grow: 2;

}

.nomes-lista-item .confirm {
    color: white;
    text-decoration: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: limegreen;
    margin-left: 5px;
    max-height: 30px;
    display: block;
}

.nomes-lista-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: red;
    margin-left: 5px;
    max-height: 30px;
    display: block;
}

.nomes-lista-item div {
    flex-grow: 2;
}

.nomes-lista-item .edit {
    color: limegreen;
    margin-right: 10px;
    cursor: pointer;
}

.nomes-lista-item .remove {
    color: red;
    margin-right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #keyboard-cont div {
    display: flex;
  }
  
  .second-row {
    margin: 0.5rem 0;
  }
  
  .keyboard-button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid rgba(0, 115, 67, 0.8);
    color:rgb(4, 53, 32);
    border-radius: 5px;
  }

  .mupalavra {
    text-align: center;
    color: rgba(4, 53, 32, 0.9);
    font-family: 'Righteous', 'Candara';
    font-size: 3rem;
  }

  .adicione {
    text-decoration: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(4, 53, 32, 0.9);
    padding: 10px;
    border-radius: 5px;
  }


  .letter-box {
    border: 2px solid rgb(117, 158, 140);
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(4, 53, 32, 0.9);
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }